* text=auto

site/assets/js/bootsnav.js linguist-documentation
site/assets/js/bootstrap.min.js linguist-documentation
site/assets/js/feather.min.js linguist-documentation
site/assets/js/jquery.counterup.min.js linguist-documentation
site/assets/js/jquery.js linguist-documentation
site/assets/js/waypoints.min.js linguist-documentation